* {
   box-sizing: border-box;
}

.container {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;

   padding: 0 1rem;
}

.left--panel {
   background-color: bisque;
}

.right--panel {
   background-color: aquamarine;
}

.form--row {
   padding: 0.5rem 0;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 0.5rem;
}

.right--panel > .form--row > input {
   width: 100px;
}
.left--panel > .form--row > input {
   width: 100px;
}

.footer-btn {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   padding: 0 1rem;
}

@media screen and (min-width: 650px) {
   .container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
   }

   .left--panel {
      width: 80%;
      max-width: 350px;
      padding: 1rem;
   }

   .right--panel {
      width: 100%;
      background-color: aquamarine;
      padding: 1rem;
   }
}